@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f9fafb; /* soft background */
  color: #1f2937; /* text-gray-800 */
}
